.todo-container{
    position: absolute;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0,0,0,0.1);
    background-color: #D8BFD8;
    border-radius: 9px;
    top: 20%;
    left: 40%;
}

.add-task input{
    border-radius: 4px;
    border: none;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    background-color: #FFFAF0;
}

.add-task button{
    border: none !important;
    background-color: #fff4df;
    border-radius: 4px;
    margin-left: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.add-task button:hover{
    background-color: #fff4df;
}

.add-task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-list{
    list-style-type: none;
    padding: 0;
}

.task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff4df;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgb(0, 0, 0,0.1);
}

.task-list li.completed span {
    text-decoration: line-through;
    color: #888;
}

.task-list .delete-btn {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

