/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eff4f6;
    /*
    bianco: #fcf4f0
    rosa: #edd5d8
    lilla: #c3b0c4
    verde: #c6cebe 
    */
}
